.idea
.gitignore
project.iml
target

collection/.idea
collection/collection.iml
collection/target
collection.iml

hippodrome/.idea
hippodrome/target
hippodrome/hippodrome.iml

classLoader/.idea
classLoader/target
classLoader/tempInfo.txt
classLoader/classLoader.iml

jdbc/.idea
jdbc/target
jdbc/jdbc.iml